.account-page{
  background-color: #FCF8EC;
  width: 100%;
  height: 100%;

  .header{
    width: 100%;
    background-color: #94AEBD;

    .booklog-icon {
      margin: 0 auto;
      width: 60px;

      &:hover {
      opacity: 0.5;
     }

      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  .account-page__body{
    margin: 0 auto;
    width: 600px;

  .body{
    margin: 0 auto 80px;
    background: none;
    width: 100%;

    .body__top {
      margin-bottom: 50px;

      .body__top__header {
      h1 {
        font-size: 34px;
        font-weight: normal;
        line-height: 38px;
        margin: 0 10 0 10px;
        color: #1e1e1e;
        padding-top: 30px;
      }

      p {
        word-break: normal;
        margin: 20px 0 20px 0px;
        color: #333;
        font-size: 14px;
        line-height: 1.7em;

        a {
          color: $link-lightblue-color;
          text-decoration: none;

          &:hover {
            color: $hover-red-color;
          }
        }
      }
    }

      &__sign-in-field {
        background-color: white;
        border-radius: 3px;
        margin-bottom: 40px;
        padding: 40px 30px;

        &__input {
          margin-left: 30px;
          margin-bottom: 20px;
          overflow: auto;

          &-left {
            vertical-align: middle;
          }

          &-right {
            width: calc(100% - 142px);
            float: right;
            padding: 7px;
            border: 1px #1e1e1e solid;
            border-radius: 3px;
          }
        }

        &__submit-btn {
          display: block;
          padding: 20px;
          text-align: center;
          border-radius: 5px;
          background-color: #62a5c8;
          font-size: 20px;
          margin: 0 auto;
          border: none;
          color: white;
          width: 100%;
          margin-bottom: 10px;

          &:hover {
            background-color: black;
          }
        }

        &__forget {
          padding-top: 10px;
          text-align: center;
          li {
            display: inline;
            font-size: 12px;
            padding: 0 5px;

            a {
             color: #333;
            }
          }
        }
      }

      .body__top__footer {
        h2 {
          font-size: 16px;
          font-weight: bold;
          margin: 0 0 5px 0;
        }

        .social-network {
          margin: 10px 0;

           li {
            display: inline-block;
            margin-bottom: 30px;
            float: left;
            text-align: center;

              .fa {
                color: white;
                text-decoration: none;
              }

              .twitter {
                width: 290px;
                background-color: #55acee;
                padding: 15px 0;
                margin-right: 8px;
                border-radius: 5px;

                &:hover {
                  background-color: black;
                }
              }

              .facebook {
                width: 290px;
                background-color: #455A93;
                padding: 15px 0;
                border-radius:5px;

                &:hover {
                  background-color: black;
                }
              }
            }

          .create-new-account-btn {
            background-color: $hover-red-color;
            color: white;
            padding: 15px;
            width: calc(100% - 30px);
            display: block;
            text-align: center;
            font-size: 14px;
            border-radius: 5px;
            text-decoration: none;

            &:hover {
              background-color: black;
            }
          }
        }
      }
    }

    .body__middle{
      width: 600px;

      h2 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .body-wrapper {
        border-top:  5px #333 solid;
        background-color: white;
        width: 600px;
        line-height: 1.4em;
      }


      &__id {
        width: 600px;
        overflow: auto;
      }

      &__password {
        width: 600px;
        overflow: auto;
        clear: both;
      }

      &__comment{
        width: 550px;
        height: 89px;
        overflow: auto;
        clear: both;
        background-color: $menu-gray-color;
        border-bottom: 1px $border-gray-color solid;
        font-size: 13px;
        padding: 15px 25px;
      }

      &__e-mail {
        width: 600px;
        overflow: auto;
        clear: both;
      }

      &__gender{
        width: 600px;
        overflow: auto;
        clear: both;
      }

      &__birth-day{
        width: 600px;
        overflow: auto;
        clear: both;
        display: table-cell;
        vertical-align: middle;
      }

      .left-content{
        float: left;
        width: 160px;
        height: 70px;
        text-align: left;
        padding: 25px;
        background-color: #e8f6f5;
        font-size: 13px;
        font-weight: bold;
        border-bottom: 1px $border-gray-color solid;

        h5 {
          text-align: left;
          color: #656565;
          font-size: 13px;
          font-weight: bold;
        }
      }

      .right-content{
        float: left;
        width: 340px;
        height: 70px;
        padding: 25px;
        font-size: 13px;
        border-bottom: 1px $border-gray-color solid;

      .registration-info {
        width: 320px;
        height: 21px;
        background-color: white;
        padding: 7px;
        border: 1px #1e1e1e solid;
        font-size: 14px;
        border-radius: 3px;
      }

      ul {
        margin: 5px 10px 0 20px;

        li {
          font-size: 11px;
          color: #333;
          margin-bottom: 3px;
        }
      }

      .gender {
        margin-right: 10px;
      }

      select {
        font-size: 14px;
        height: 30px;
        border: 1px #1e1e1e solid;

        &__year {
          width: 67px;
        }

        &__month, &__day {
          width: 44px;
        }
      }
    }
  }

    .body__under {
      text-align: center;

      &__terms-condition {
        font-size: 14px;
        color: #333;
        margin: 20px 0 20px 0;

        .link-condition {
          text-decoration: none;
          color: $link-lightblue-color;

          &:hover {
            color: $hover-red-color;
          }
        }
      }

      &__blue-btn {
        margin-top: 20px;

        input{
          width: 600px;
          font-size: 20px;
          background-color: #55acee;
          padding: 20px 0;
          border-style: none;
          border-radius: 5px;
          color: white;
          text-decoration: none;
          display: block;
          &:hover {
            background-color: black;
          }
        }
      }
    }
  }

    .account-page__footer{
      font-size: 12px;
      padding: 30px 0;
      margin: 0 auto;

      a {
        display: inline-block;
        color: #333;
        padding: 0 2px;
        font-size: 10px;

        &:hover {
          opacity: 0.7;
          text-decoration: none;
        }
      }

      p {
        text-align: center;
        padding-top: 5px;
      }
    }
  }
}
