.profile-wrapper {
  background-color: $background-white-color;
  border-radius: 8px;
  padding: 15px;
  overflow: auto;
  width:650px;

  &__menu {
    width: 90px;
    float: left;
    margin-right: 30px;

    &__image {
      width: 90px;
      height: 90px;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    &__list {
      background-color: $background-white-color;
      letter-spacing: -.4em;

      li {
        letter-spacing: normal;
        padding-top: 1px;
        padding-bottom: 10px;
        display: inline-block;

        &:hover {
          opacity: 0.6;
        }

        a {
         color: $text-white-color;
        }
      }

      &-book {
        border-radius: 3px 0 0 0;
        padding-left: 14px;
        padding-right: 14px;
        margin-right: 4px;
        background-color: $border-gray-color;
      }

      &-timeline {
        border-radius: 0 3px 0 0;
        padding-left: 14px;
        padding-right: 14px;
        background-color: $border-gray-color;
      }

      &-user {
        border-radius: 0 0 0 3px;
        padding-left: 15px;
        padding-right: 17px;
        margin-right: 4px;
        margin-top: 4px;
        background-color: black;
      }

      &-more {
        border-radius: 0 0 3px 0;
        padding-left: 15px;
        padding-right: 14px;
        margin-top: 4px;
        background-color: $border-gray-color;
      }
    }
  }

  &__info {
    float: left;

    &__title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    &__name {
      margin-bottom: 35px;
      font-size: 14px;
    }

    &__status {
      margin: 5px 0;
      li {
          display: inline-block;
          text-align: center;
          font-size: 11px;
          color: $text-darkgray-color;
          border-right: 1px silver solid;
          padding: 0 15px;

          &:last-child {
            border-right: none;
          }

        a {
          color: $link-lightblue-color;
          font-size: 16px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }


    &__following {
        width: 495px;
      .follow-this-user-btn {
        padding: 8px;
        border: 1px $menu-gray-color solid;
        font-size: 10px;
        border-radius: 3px;
        width: 90px;
        text-align: center;
        display: inline-block;
        color: $border-gray-color;
      }
      .follow__count {
        display: inline-block;

        a {
          color: black;
          font-size: 16px;

          span {
            font-size: 12px;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    &__share-btns {
      display: inline-block;
      float: right;
      background-color: $menu-gray-color;
      padding: 10px 15px;
      border-radius: 3px;
      color: $text-darkgray-color;
      font-size: 12px;
      text-decoration: none;
      width: 100px;
      text-align: center;

      &:hover {
        opacity: 0.6;
      }

      .fa-twitter-square {
        color: #67ABE8;
      }
      .fa-facebook-square {
        color: #3F5A93;
      }
      li {
        display: inline-block;
      }
    }
  }
}

.section-row {
  padding: 20px 0 10px;
  background-color: $background-beige-color;

  &__title {
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;

    a {
      font-size: 12px;
      font-weight: bold;
      color: $link-lightblue-color;
      text-decoration: none;

      &:hover {
        color: $hover-red-color;
      }
    }
  }

  &__biography {
    padding: 10px;
    font-size: 12px;
    background-color: $menu-gray-color;
  }

  &__edit-link {
    font-size: 12px;
    color: $link-lightblue-color;
    text-decoration: none;

    &:hover {
      color: $hover-red-color;
    }
  }

  &__favorite-ranking {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;

    tr {
      border: 1px silver solid;
    }

    &-1 {
      background-color: $hover-red-color;
    }

    &-2 {
      background-color: #f58c29;
    }

    &-3 {
      background-color: #89c600;
    }

    th {
      font-size: 12px;
      padding: 0 4px;
      color: $text-white-color;
    }

    td {
      padding: 5px 15px;
      text-align: center;
      padding: 5px 15px;
      font-size: 11px;
      width: 52px;
      height:52px;
      background-color: $background-white-color;

      a {
        text-decoration: none;
        color: $link-lightblue-color;

        &:hover {
          color: $hover-red-color;
        }
      }
    }
  }
}

.setting-btn {
  float: right;
  border-radius: 3px;
  padding: 5px 9px;
  font-size: 18px;
  text-decoration: none;
  color: $text-darkgray-color;
  background-color: $menu-gray-color;

  &:hover {
    opacity: 0.6;
  }
}

.user-birth-date {
  padding: 20px 0;
  font-size: 14px;
  border-bottom: 5px black solid;
}

.right-contents__show {
  float: left;
  font-size: 13px;
  width: calc(100% - 230px);
  background-color: $background-white-color;
  padding: 25px;
}
