.my_books {
  height: 100%;
  background-color: #f0f0f0;
}

.my_books_page {
  padding: 0 20px 10px;
  float: left;
  width: calc(100% - 40px);
  background-color: #f0f0f0;
}

.user-header {
  width: 1000px;
  height:200px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
}

.bookshelf-header {
  background-color: #cdcdcd;
  width: 100%;
  margin-top: 20px;

  &__menu {
    padding-right: 20px;
    line-height: 45px;
    font-size: 12px;
    text-align: right;
    color: white;

    li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;


    a {
      text-decoration: none;
      color: #fff;
    }

    span {
      width: 90px;
      padding: 10px;
      background-color: #a1a1a1;
      border-radius: 3px;

      &:hover {
        opacity: 0.4;
      }
    }
  }

    &__filter {
     color: #666;
     width: 50px;
    }

    &__show-filter {
     border-radius: 3px 0 0 3px;
    }

    &__icon {
      i {
        width: 30px;
      }

      &__close {
      border-radius: 0 3px 3px 0;
      opacity: 0.4;
    }

        &__table {
          padding-left: 20px;
        }

        &__arrow {
          padding-left: 20px;
        }
      }
    }
  }

.bookshelf-wrapper {
  width: 100%;
  height: 724px;
  background-image: url(bookshelf/maple_left.png), url(bookshelf/maple_right.png);
  background-repeat: repeat-y, repeat-y;
  background-position: left top, right top;
  background-size: 39px 225px, 39px 225px;
  background-color: #E8B572;
}

.bookshelf-main {
  height: 676px;
  background-image: url(bookshelf/maple_shadow_left.png), url(bookshelf/maple_shadow_right.png), url(bookshelf/maple_center.png);
  background-repeat: repeat-y, repeat-y, repeat;
  margin: 0 39px;
  padding-top: 30px;
  background-size: 16px 225px, 16px 225px, 500px 225px;
}

  .books-display {
  padding-top: 25px;

  &__book {
    width:134px;
    height:225px;
    float: left;
  }
}

