.wrapper-product-show {
  width: 650px;
}

.product-wrapper {
  border-top: 7px #ede9c5 solid;
  background-color: white;
  overflow: auto;

  &__title {
    padding: 15px 20px 20px;
    margin: 0 0 10px;
    color: #1e1e1e;
    font-weight: normal;
    font-size: 34px;
    line-height: 38px;
    word-break: normal;
  }

  &__image {
    width: 169px;
    height: 198px;
    padding: 0 0 10px 20px;
    float: left;
  }

  &__info {
    margin-bottom: 25px;
    padding: 0 20px 0 30px;
    float: left;
    font-size: 12px;
    width: 410px;

    &__status {
      margin: 10px 0 15px;

      li {
        display: inline-block;

        span {
          font-size: 15px;
          font-weight: bold;
          padding: 0 2px 0 3px;
        }
      }

      .fa-user {
        font-size: 17px;
        color: $hover-red-color;
      }

      .fa-star {
        font-size: 17px;
        color: $star-orange-color;
      }

      .fa-comment {
        font-size: 17px;
        color: #4ea6cc;
      }
    }


    &__author {
      a {
        font-size: 14px;
        color: #4ea6cc;
      }
    }

    &__publisher {
      margin: 10px 0 15px;

      .company-name {
        font-size: 14px;
      }

      .release-date {
        font-size: 12px;
      }
    }

    &__btn-amazon {
      width: 212px;
      height: 42px;
    }

    &__btn-others {
      margin-top: 20px;
      width: 360px;

      li {
        padding: 10px 7px 0 0;
        display: inline-block;

        a {
          border-radius: 3px;
          display: block;
          border: 1px #cdcdcd solid;
        }

        .main-shop-btn {
          padding: 7px 9px 5px;
          width: 90px;
          height: 17px;
        }

        .other-shop-btn {
          width: 108px;
          height: 29px;
        }
      }
    }
  }

  &__more {
    color: #bbb;
    overflow: auto;
    padding: 0 20px 20px;
    font-size: 12px;
    clear: both;

    &__link {
      float :left;

      a {
        color: #bbb;
      }
    }

    &__info {
      float :right;
    }
  }
}

.row-title {
  color: #333;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 15px;
  padding: 0 0 8px;
  width: 100%;
  border-bottom: 5px #333 solid;
}

.review-wrapper {

  &__sort-by-rating {
    text-align: center;
    font-size: 12px;
    margin: 15px 0;


    li {
      padding-right: 15px;
      display: inline-block;

      a {
        color: #bbb;
      }
    }
  }
}


.review-area {
  overflow: auto;
  font-size: 12px;

  &__user-icon {
    float:left;
    display: block;
  }

  &__user-image {
    height: 30px;
    width:30px;
    padding: 2px;
    border: 1px #cdcdcd solid;
  }

  &__summary {
    border-radius: 2px;
    border: 1px silver solid;
    margin-left: 12px;
    float: left;
    background-color: white;
    margin-bottom: 20px;

    &__user-info {
      padding: 9px 20px ;
      background-color: $menu-gray-color;
    }

    &__rating {
      padding: 20px 20px 0;
      color: $star-orange-color;
    }

    &__review-text {
      width: 560px;
      padding: 20px;
      margin-bottom: 10px;

      p {
        font-size: 14px;
      }
    }

    &__reaction {
      margin: 30px 0 20px;
      overflow: auto;
      position: relative;

      &-like {
        float: left;
        height: 25px;
        width: 115px;
        padding: 0 0 0 20px;
      }

      .like-count {
        border: 1px #cdcdcd solid;
        margin-left: 10px;
        float: left;
        position: absolute;
        padding: 2px 5px 3px;
      }

      &-comment {
        color: $text-darkgray-color;
        height: 25px;
        font-size: 12px;
        float: right;
        padding-right: 20px;
      }
    }
  }
}

.review-more-btns {
  text-align: center;

  .review-more-btn {
    width: 300px;
    height: 40px;
  }

  &-amazon {
  display: inline-block;
  margin-right: 30px;
  }

  &-rakuten {
  display: inline-block;
  }
}

.social-btn-box-area {
  text-align: center;

  &__list {
    width: 72px;
    display: inline-block;
  }

  .twitter-btn {
    width: 56px;
  }

  .facebook-btn {
    width: 72px;

  }

  .hatena-btn {
    width: 84px;
  }
}
