$star-orange-color: #EDB74B;
$hover-red-color: #da4740;
$text-lightblue-color: #4EAECC;
$menu-gray-color: #f0f0f0;
$border-gray-color: #cdcdcd;
$text-darkgray-color: #a1a1a1;
$background-beige-color: #FEFBF0;
$globalnavi-blue-color: #8bafbf;
$link-lightblue-color: #4ea6cc;
$border-black-color: #1e1e1e;
