.header {
font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;

.devise-btns {
  font-size: 12px;
  color: $text-white-color;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
}

.user-create-btn {
  background-color: $hover-red-color;

  &:hover {
    background-color: black;
  }

  a {
    text-decoration: none;
    color: $text-white-color;
  }

  .fa-facebook-square{
    color: #4a62ac;
  }

  .fa-twitter-square{
    color: $link-lightblue-color;

  }
}

.user-sign_in-btn {
  background-color: $border-black-color;

  &:hover {
    background-color: $link-lightblue-color;
  }
}
.user-sign_out-btn {
  background-color: $border-black-color;

  &:hover {
    background-color: $hover-red-color;
  }
}

.header__wrapper {
 position: fixed;
 width: 100vw;
 z-index: 2;
}

  .global-navi-wrapper {
    background-color: $globalnavi-blue-color;
    color: $text-white-color;
    overflow: auto;

    .booklog-icon {
      background-size: contain;
      float: left;
      width: 60px;
      height: 50px;
      margin: 10px 10px 0;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .global-navi {
    background-color: $globalnavi-blue-color;
    li {
      display: inline-block;
      margin: 0 10px;
      line-height: 60px;

        img {
          height: 24px;
          width: 24px;
          padding: 2px;
          background-color: #fff;
          border: 1px #666 solid;
          vertical-align: middle;
        }

      .dropdown-user-icon {
        display: none;
        position: fixed;
        top: 59px;
        right: 120px;
        width: 180px;
        background-color: #fff;
        border: 5px $border-black-color solid;

        a {
          color: $border-black-color;
          text-decoration: none;
          padding: 6px 15px;
          display: block;
        }
      }

      .dropdown-user-icon:before {
        content: "";
        position: absolute;
        top: -24px;
        left: 50%;
        margin-left: -20px;
        border: 16px solid transparent;
        border-bottom: 13px solid #FFF;
        z-index: 2;
      }

      .dropdown-user-icon:after {
        content: "";
        position: absolute;
        top: -30px;
        left: 50%;
        margin-left: -19px;
        border: 15px solid transparent;
        border-bottom: 12px solid $border-black-color;
        z-index: 1;
      }

      .link_to-cancel {
        text-decoration: none;
        color: $text-white-color;

        &:hover {
          opacity: 0.6;
        }
      }

      .hover-icon {
        display: none;
        opacity: 0.7;
          span {
          background-color: black;
          font-size: 12px;
          border-radius: 3px;
          position: fixed;
          line-height: 25px;
          padding: 0 12px;
          top: 50px;
        }

        &__home-icon {
          span {
            right: 137px;
          }
        }

        &__bookshelf-icon {
          span {
            right: 98px;
          }
        }

        &__timeline-icon {
          span {
            right: 18px;
          }
        }
      }

      .dropdown-menu-icon {
        display: none;
        position: fixed;
        top: 60px;
        right: 10px;
        width: 180px;
        background-color: #fff;
        border: 5px $border-black-color solid;

        a {
          color: $border-black-color;
          text-decoration: none;
          padding: 6px 15px;
          display: block;
        }

        .fa:before {
          margin-right: 7px;
          font-size: 14px;
          display: inline-block;
        }
      }

      .dropdown-menu-icon:before {
        content: "";
        position: absolute;
        top: -24px;
        left: 50%;
        margin-left: 50px;
        border: 16px solid transparent;
        border-bottom: 13px solid #FFF;
        z-index: 2;
      }

      .dropdown-menu-icon:after {
        content: "";
        position: absolute;
        top: -30px;
        left: 50%;
        margin-left: 51px;
        border: 15px solid transparent;
        border-bottom: 12px solid $border-black-color;
        z-index: 1;
      }

      ul {
          margin-top: 5px;
          font-size: 12px;
          line-height: 0;
        }

      li {
        padding: 5px 0;
        width: 100%;
        margin: 0px;

        &:hover {
          background-color: $menu-gray-color;
        }
      }

      li.bar-border {
        border-bottom: 1px $border-gray-color solid;
      }
    }

    &__left {
      float: left;
      font-size: 14px;
    }

    &__right {
      position: relative;
      overflow: hidden;
      float: right;
      font-size: 24px;
    }
  }

  .search {
    position: relative;
    float: left;
    margin: 15px 10px 10px;

    &__input {
      float: left;
      height: 24px;
      font-size: 13px;
      width: 220px;
      padding: 2px;
    }

    &__search-btn {
      float: left;
      background-color: $background-white-color;
      color: #666;
      height: 23px;
      padding: 2px 7px 6px;
    }

    .fa.fa-question-circle {
      position: absolute;
      top: 8px;
      right: 33px;
      color: $border-gray-color;
      font-size: 14px;
    }

  }

  .info {
    padding-top: 60px;
    clear: both;
    text-align: center;
    background-color: #E4E4E4;
    font-size: 12px;
    display: block;

    li {
      margin: 8px;
      display: inline-block;
    }

    .icon {
      padding: 2px 6px;
      font-size: 6px;
      color: $text-white-color;
      background-color: #E27A70;
      border-radius: 4px;
      font-weight: bold;
    }

    .news-text {
      color: #666;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
