.header {
font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;

.devise-btns {
  font-size: 12px;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
}

.user-create-btn {
  background-color: $hover-red-color;

  &:hover {
    background-color: black;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .fa-facebook-square{
    color: #4a62ac;
  }

  .fa-twitter-square{
    color: #4ea6cc;

  }
}

.user-sign_in-btn {
  background-color: #1e1e1e;

  &:hover {
    background-color: #4ea6cc;
  }
}
.user-sign_out-btn {
  background-color: #1e1e1e;

  &:hover {
    background-color: $hover-red-color;
  }
}

.header__wrapper {
 position: fixed;
 width: 100vw;
}

  .global-navi-wrapper {
    background-color: $globalnavi-blue-color;
    color: white;
    overflow: auto;

    .booklog-icon {
      background-size: contain;
      float: left;
      width: 60px;
      height: 50px;
      margin: 10px 10px 0;
    }
  }

  .global-navi {
    background-color: $globalnavi-blue-color;
    li {
      display: inline-block;
      margin: 0 10px;
      line-height: 60px;

      .link_to-cancel {
        text-decoration: none;
        color: white;

        &:hover {
          opacity: 0.6;
        }
      }
    }

    &__left {
      float: left;
      font-size: 14px;
    }

    &__right {
      float: right;
      font-size: 24px;
    }
  }

  .search {
    position: relative;
    float: left;
    margin: 15px 10px 10px;

    &__input {
      float: left;
      height: 24px;
    }

    &__search-btn {
      float: left;
      background-color: white;
      color: #666;
      height: 23px;
      padding: 2px 6px 3px;
    }

  }

  .info {
    padding-top: 60px;
    clear: both;
    text-align: center;
    background-color: #E4E4E4;
    font-size: 12px;
    display: block;

    li {
      margin: 8px;
      display: inline-block;
    }

    .icon {
      padding: 2px 6px;
      font-size: 6px;
      color: white;
      background-color: #E27A70;
      border-radius: 4px;
      font-weight: bold;
    }

    .news-text {
      color: #666;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
