h1 {
  font-size: 34px;
  text-align: center;
}

  .wrapper {
    width: 600px;
    height: 768px;
    padding: 25px 400px 25px;
  }

  .registration-form {
    .label {
    width: 600px;
    overflow: auto;
    padding-bottom: 25px;
  }

    .input {
    width: 600px;
    overflow: auto;
    clear: both;
    padding-bottom: 25px;
  }

  // .image-box {
  //   width: 600px;
  //   overflow: auto;
  //   clear: both;
  //   padding-bottom: 25px;
  // }

  // .publisher-box {
  //   width: 600px;
  //   overflow: auto;
  //   clear: both;
  //   padding-bottom: 25px;
  // }

  // .release-box {
  //   width: 600px;
  //   overflow: auto;
  //   clear: both;
  //   padding-bottom: 25px;
  // }



  }



  // .left-content {
  //   float: left;
  //   width: 160px;
  // }

  // .right-content {
  //   float: left;
  //   width: calc(100% - 160px);
  // }

  // .registration-btn {
  //   clear: both;
  // }
