.review-container
  = image_tag "book__review__karioki.jpg",class:"review-container__image"
  .review-container__product-info
    .review-container__product-info__title
      タイトル
    .review-container__product-info__author
      作者の名前だよ
  .review-container__review
    .user-info
      .user-name
        ユーザー名前
      .rating
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
    .review-text
      .review-text__body
        ヨオオオオオオオオオオオオオアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアアサ
      .review-text__like-count
        = image_tag "faving.gif"
