.header
  .booklog-icon
  %ul.global-navi
    %li.global-navi__ranking
    %li.global-navi__release
    %li.global-navi__quetions
    %li.global-navi__matome
  .search
    %input
  %ul.global-navi
    %li.global-navi__mypage
    %li.global-navi__home
    %li.global-navi__bookshelf
    %li.global-navi__timeline

  .dropdown-menu-click
  .news-info
    .icon
    .news-text
      %a.link
      = link_to "11月公開映画「ラストレシピ」"

.body
  .wrapper
    .top-page
      .booklog-award
        .img
    .middle-page
      %ul.recommend-list
        %li.recommend-list__1
        %li.recommend-list__2
        %li.recommend-list__3
        %li.recommend-list__4

      .middle-page-content
        .middle-page-content__popular-review
          .review-container
            .review-container__image
            .review-container__title
            .review-container__author
            .review-container__review
              .user-info
              .review-text
        .middle-page-content__ranking
          .ranking-container
            .ranking-container__image
            .ranking-container__title
            .ranking-containerg__author
            .ranking-container__evaluation
        .middle-page-content__release
          .release-container
            .release-container__image
            .release-container__title
            .release-container__author
            .release-container__date

        .popular-author
          %h3
            話題の作家
            %ul.hot-author-name
              %li

          %h3
            人気の作家のおすすめ本・新刊情報・電子書籍
            %ul.popular-author-name
              %li

        .advertisement
          .img

        .user-count

.footer
  .top
    .top__info-relate-book
      %h3
        本と出会う
        %ul
          %li ランキング
          %li 新刊情報
          %li 新着レビュー
          %li プクログ談話室
          %li プクログまとめ
          %li プクログ特集
          %li プクログ大賞
          %li プクログ通信

    .top__search-book
      %h3
        本を探す
        %ul.search-by-keyword
          %li キーワード
          %li タグから探す
      %h3
        本棚を探す
        %ul.search-from-bookself
          %li プロフィールから本棚を探す
          %li ブクログID検索

      %h3
        ブクログ
        %ul.search-by-apply
          %li iPhone アプリ
          %li その他のブクログアプリ

    .top__bookself
      %h3
        公式本棚
        %ul
          %li ブクログスタッフの本棚
          %li 芥川賞の本棚
          %li 直木賞の本棚
          %li TVドラマ原作本棚
          %li 映画の原作本棚
          %li アニメの原作本棚
          %li プクログ公式本棚一覧
          %li 公式本棚の新着情報
      %h3
        ようこそプクログへ
        %ul
          %li プクログについて
          %li 初めての方へ
          %li チュートリアル

    .top__support
      %h3
        サポート
        %ul
          %li お知らせプクログ
          %li ヘルプ
          %li お問い合わせ
          %li 広告掲載について
          %li メディア掲載情報
          %li 公式 Twitter
          %li Facebookページ
          %li プクロぐ公式グッズ

