= render 'shared/header'
= render 'shared/flash'
.body

  .wrapper
    %ul.breadcrumbs
      %li.breadcrumbs__home
        %a{href:""} 仮
      %li.breadcrumbs__current-page
        >  仮です
    .profile-setting
      本の検索
    .lead
      まずは商品名、著者名、出版社名などを入力して検索してください。
      %br
      例えば...村上春樹や 宇多田ヒカルや ジブリなど。

    .form-wrapper
    //何かformwrapperに代わるいい感じのwrapperを作り、float::leftさせる


    .side-bar
      .advertisement
      .side-bar__title
        いろいろな設定
      .side-bar__list
        %p.side-bar__subtitle
          本棚の設定
        %ul
          %li
            %a{href:""} 本棚の基本設定
          %li
            %a{href:""} タイムラインの設定
          %li
            %a{href:""} 本棚の非公開設定
          %li
            %a{href:""} プロフィールの設定
          %li
            %a{href:""} アカウント情報
          %li
            %a{href:""}
              レビュー掲載範囲の設定
              %i.fa.fa-twitter-square.mini-twitter-icon
              %i.fa.fa-facebook-square.mini-facebook-icon
          %li
            %a{href:""} パスワードの変更
          %li
            %a{href:""} 退会

        %p.side-bar__subtitle
          外部サービス連携
        %ul
          %li
            %a{href:""} SNSアカウント設定
          %li
            %a{href:""} Amazonアフィリエイト設定
          %li
            %a{href:""} 投稿ログ

        %p.side-bar__subtitle
          通知設定
        %ul
          %li
            %a{href:""} 通知設定
          %li
            %a{href:""} 新刊通知キーワード設定

        %p.side-bar__subtitle
          読書目標
        %ul
          %li
            %a{href:""} 読書目標の設定

/ 上記のul部分は後でgemを調べて実装する
= render 'shared/footer'
