.review-body {
  float: left;
  width: 650px;
}

h1 {
  text-align: left;
  margin-bottom: 10px;
  line-height: 38px;
}

.book-introduce {
  overflow: auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-top:5px #333 solid;

  &__image {
  width: 51px;
  float: left;
  margin-right: 30px;
  }

 .reacquire {
  text-align: center;
  margin-top: 15px;

  a {
    color: #1e1e1e;
    font-size: 12px;

  &:hover {
    text-decoration: none;
    }
  }
}

  &__info {
    float: left;

    &__title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;

      a {
        color: #1e1e1e;

        &:hover {
          text-decoration: none;
          color: #4ea6cc
      }
    }
  }

    &__author {
      margin-bottom: 15px;
      font-size: 12px;
    }

    &__btn {
      li {
        float: left;
        padding-right: 10px;
      }

      .item-info-btn {
        text-decoration: none;
        padding: 10px 15px;
        color: #fff;
        border-radius: 5px;
        font-size: 12px;

        &:hover {
          background-color: #1e1e1e;
        }

        &-red {
          background-color: #da4740;
        }

        &-yellow {
          background-color: #f5b629;
        }

        &-blue {
          background-color: #4ea6cc;
        }
      }
    }
  }
}

.right-contents {
  &__rating {
    font-size: 13px;
    padding: 25px;
  }

  img {
    width: 20px;
    height: 19px;
  }

  img.star-clear {
    width: 62px;
    height: 18px;
    border:1px #a1a1a1 solid;
    border-radius: 3px;
    margin-left: 5px;
  }

  &__catagory {
    overflow: auto;
    padding: 25px;
  }

  &__setting {
    float: left;
    padding-right: 15px;

    select {
      width: 200px;
    }
  }

  &__add-catagory {
    float: left;
    font-size: 12px;
  }

  a {
    color: #1e1e1e;
  }

  .checkbox {
    margin: 10px 0 10px 24px;
  }

  .social-network-area {
    padding: 22px 25px;
  }

  .social-network {
    margin: 10px 0;
    overflow: auto;

    &__left {
      float: left;

      .fa {
        font-size: 19px;
        vertical-align: middle;
      }

      .fa.fa-twitter-square {
      color: #2298cc;
    }

      .fa.fa-facebook-square {
        color: #3b5998;
      }

      span {
        margin-left: 10px;
      }
    }

    &__right {
      float: right;
    }
  }

  &__nonpublic {
    padding-top: 25px;
  }

  label {
    padding-left: 25px;
  }
}
